<div class="fellowship">
    <div class="fellowship-title-wrapper">
        <h3>About The Explorer Program</h3>
    </div>
    <div class="fellowship-wrapper">
         
         <div class="fellow fellowship-img-wrapper">
             <img class="leader-img" src="{{ site.baseurl }}/assets/img/fellow.jpg">
         </div>
         <div class="fellow fellowship-text-wrapper">
            <p>The MLH Explorer Fellowship is a 12 week internship alternative for students interested in becoming software engineers. You'll build out your portfolio of personal projects & experiment with new technologies by collaborating in small groups on a series of short hackathon sprints.</p>
         </div>
    </div>
 
 </div>