<div id="footer_body">
    <footer class="mh-100">
        <!-- <svg class="svg svg-top" xmlns="http://www.w3.org/2000/svg" fill="#f9fcfe" height="30" preserveAspectRatio="none">
			<path d="M0,0S1.209,1.508,200.671,7.031C375.088,15.751,454.658,30,600,30V0H0ZM1200,0s-90.21,1.511-200.671,7.034C824.911,15.751,745.342,30,600,30V0h600Z"></path>
		</svg>	 -->
        <p class="text-center">
            <a href=#top><i id="arrow_up" class="fas fa-angle-up "></i></a>
        </p>
        <div>
            <h1 class="text-center connect">Let's connect</h1>
        </div>
        {% include social_media_links.html %}
        <hr id="break_line">
        <p class="footercolor text-center " id="footer-xtmbttm"> 2021 All Right Reserved. Copyright @Swift megaminds </p>
    </footer>
</div>
