<div class="hero" id="top" style="background-image: url('https://cdn.image4.io/swift-megaminds/f_auto/bg.png')">
    <!-- <img class="hero-icon" src="{{ site.baseurl }}/assets/img/mlh-logo.png" height="100px" width="100px"> -->
    <div class="hero-text">
        <h1><span class="var">const</span> <span class="var-name">podName</span> = <span class="var-value">"Swift Megaminds"</span>;</h1>
        <h1><span class="var">function</span> <span class="var-name">fellowship</span>(<a href="#" class="typewrite not-active" data-period="2000" data-type='[ "collaboration 🤝", "synchronous clap 👏","friendship 😃", "new technologies 🚀"]'>
            <span class="wrap"></span></a>) {<br>&nbsp; &nbsp; &nbsp;<span class="var">return</span> <a href="#" class="typewrite not-active" data-period="4000" data-type='[ "yes", "weAreTrying", "absolutely", "learning"]'>
            <span class="wrap"></span></a>;<br>}</h1>
    </div>
</div>
