<div class="leader">
    <div class="leader_row">
        <div class="leader_left">
            <img class="rounded-circle img-fluid" src="{{ site.baseurl }}/assets/img/yashikaimg.png">
        </div>
        <div class="leader_right">
            <div class="leader_content">
             <h2>Pod Leader<br/>Yashika Sharma</h2>
             <p>Hi! I'm Yashika, pod leader for Swift Megaminds. I am a first generation student majoring in Computer Science. I am passionate about using data science to analyze trends and patterns and interpret data with a clear objective in mind.</p>
            </div>
        </div>
    </div>
</div>