<div class="leader">
    <div class="leader_row">
        <div class="leader_left">
            <img class="rounded-circle img-fluid" src="/assets/img/yashika.png">
        </div>
        <div class="leader_right">
            <div class="leader_content">
             <h2>Yashika Sharma</h2>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
        </div>
    </div>
</div>