<div class="podleader" ">
    <center>
    <h1>Swiftest Megamind</h1><br/>

        <div style="display:flex;flex-direction: column;">
            <div class=image>
                <img src="{{ site.baseurl }}/assets/img/{{ site.data.pod_leader[0].pic }}">
            </div><br/><br/>
            <div class=name>
                <h2>{{site.data.pod_leader[0].name}}</h2>
            </div><br/>
            <div class=desc>
                <p>{{site.data.pod_leader[0].bio}}</p>
            </div>
    </center>
</div>