@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import 'hero';
@import 'variables';
@import 'timeline';
@import 'pod_leader';
@import 'members';

*, *::after, *::before {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font_family;
    color: $color;
    background-color: $background-color;
  }

