@import 'variables';

.fellowship_details  {
        width: 100%;
        padding: 2.5vw 2.5vw;
        margin-right: auto;
        margin-left: auto;
        background-color: $fsh-section-bgcolor;
        // background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
        h2 {
            font-family: $hero_font;
            font-weight: 400;
            font-size:calc(5px + 2.5vw);
            color: $var_color;
            margin-bottom:10px;
            text-align: left;
        }
        
        p {
            font-family: $font_family;
            font-size:calc(1px + 2.5vw);
            color: $wrap_color;
            text-align: justify;
        }
}

.fellowship_details_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.fellowship_details_img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 25%;
    padding:5px;
    margin: auto;
    margin-top: 1vh;
    vertical-align: top;
}

.fellowship_details_column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px 20px 20px 0;
}

.fellowship_details_img img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
    float: right;
}