@import 'variables';

.fellowship_details  {
        width: 100%;
        padding: 2.5vw 2.5vw;
        margin-right: auto;
        margin-left: auto;
        background-color: $fsh-section-bgcolor;
        // background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
        h2 {
            font-family: $heading_font;
            font-weight: 400;
            font-size: calc(4px + 2.5vw);
            color: #F87669;
            margin-bottom: calc(4px + 2vw);
        }
        
        p {
            font-family: $font_family;
            font-size: calc(4px + 1.3vw);
            color: #EED0D4;
            text-align: left;
        }
}

.fellowship_details_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#fshp-logo {
    margin-bottom: 3vh;
}

.fellowship_details_img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 25%;
    padding: 40px;
    margin: auto;
    // margin-top: 3vh;
    vertical-align: top;
    margin-right: 10%;
}

.fellowship_details_column {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px 20px 20px 0;
}

.fellowship_details_img img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
    float: right;
}

@media only screen and (max-width: 600px) {
    .fellowship_details_img {
        padding: 2px; 
    } 
  }
