
// variable for fonts
$font_color:#686b6f;

#social_icon {
    color: #686b6f;
}
// property for <hr>  for footer
#break_line{
//  background-color: $font_color;
    border: none;
    width: 100%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

// The move up arrow in footer
#arrow_up{
    font-size: 2.5rem;
    color: $font_color;
    &:hover{
        padding:0px 2px 0px 2px;
        transition: background-color .2s;
        transition: padding .1s;
    }
}

#footer_body{
    background: linear-gradient(90deg, rgb(17, 17, 17) 50%, rgb(36, 36, 39) 80%);
}

.footercolor {
    font-size:13px;color:#9e9c9c;
}

.connect {
    font-size:20px;color:#6b6969;
}

#footer-xtmbttm{
    margin: 0px !important;
    padding-bottom: 1em;
}

#svg-top{width:100%;display:block;position:absolute;left:0;top:-1px;}