@import "variables";

.hero {
	background-color: $herobackground;
	background-size: cover;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
    .hero-text {
		margin: auto auto;
		padding: 20px;
		color: $title_color;
	}

	h1, a {
		font-family: $hero_font;
		color: $title_color;
		text-align: left;
		font-weight: 400;
		font-size: calc(5px + 2.5vw);
	}
	
	p {
		font-family: $font_family;
	}
	

	.var {
		color: $var_color;
	}

	.var-name {
		color: $var_name_color;
	}

	.var-value {
		color: $var-value_color;
	}


	a {
		text-decoration: none;
	    cursor: default;
	}

	.wrap {
		color: $wrap_color;
    }
    
}
