@import "variables";

.hero {
  background-color: var(--background);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .hero-text {
    margin: auto auto;
    padding: 20px;
    color: var(--primary-color);
  }

  h1,
  a {
    font-family: $hero_font;
    font-weight: 400;
  }

  p {
    font-family: $font_family;
  }

  .var {
    color: $var_color;
  }

  .var-name {
    color: $var_name_color;
  }

  .var-value {
    color: $var-value_color;
  }

  a {
    text-decoration: none;
  }

  .wrap {
    color: var(--secondary-color);
  }
}
