@import "variables";

html {
  scroll-behavior: smooth;
}

.nav-bar-wrapper {
  display: flex;
  justify-content: space-around;

}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  position: fixed;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  letter-spacing: 20px;
  width: 100vw;
  background: #ffffff80;
}

a {
  margin-right: 25px;
  color: $nav-color;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  color: $nav-color;
  border-bottom: 3px solid;
  padding-left: 10px;
  transition: 3ms;
  // padding-left: 10px;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
}

.nav-icon-wrapper {
  flex: 2;
}

.nav-links-wrapper {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  .fas {
    font-size: 20px;
  }
}



@media only screen and (max-width: 400px) {
  .fas {
    font-size: 15px;

  }
  .nav {
    letter-spacing: 10px;
    height: 70px;
  }
}
