@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800%7CRaleway:100,200,300,400,600,700,800,900%7CMontserrat:100,200,300,400,500,600,700,800,900');
@import 'variables';
// Variables
$font-family-base : 'Raleway', sans-serif;
$font-family-head-base : 'Nothing You Could Do', cursive; // Custom
$font-family-lead-base : 'Montserrat', sans-serif; // Custom
// colors
$white:    #fff !default;
$warning : #ffc107;
// Font Weight Base
$font-weight-light:           100 !default;
$font-weight-normal:          500 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          900 !default;
// Box Shadow Placeholer and Class
// -- Placeholder -- box shadow default
%box-shadow {
	box-shadow: 0px 0px 18px -3px rgba(143, 143, 143, .50);
}
%box-shadow-hover {
	box-shadow: 0px 0px 20px -3px rgba(143, 143, 143, .75);
}
// -- Placeholder -- box shadow dark
%box-shadow-dark {
	box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, .25);
}
%box-shadow-dark-hover {
	box-shadow: 3px 3px 11px -3px rgba(0, 0, 0, .75);
}
// -- Class Default -- Box Shadow Default Class
.box-shadow {
	@extend %box-shadow;
}
// -- Class Dark -- Box Shadow Dark Class
.box-shadow-dark {
	@extend %box-shadow-dark;
}

section { padding-top: 2rem; padding-bottom: 2rem; }
h6 { color: #990000; }
// Adding font-weight-bolder
.font-weight-bolder {
  font-weight: $font-weight-bolder;
}


.card {
  transition: .5s ease;
  border-radius: 0;
  &-header {
    border-radius: 0;
  }
  &-footer {
    padding-top:1rem;
    padding-bottom:1rem;
  }
  &-header, &-footer {
    transition: .5s ease;
  }
  &:hover {
    @extend %box-shadow-hover;        
    border-color:darken($warning,0%);
    .card-header, .card-footer {
      color: darken($warning,15%);
      border-color: darken($warning,0%);
      background-color: lighten($warning,35%);
    }
    .promotion-promo {
      transform: scale(1.175) translateY(2.5px);
      transform-origin: left center;
    }
    .promotion-price {
      transform: translate(2.5px,17.5px) scale(1.15);
      transform-origin: center right;
    }
  }
  &-body {
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .btn {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.promotion {
  &-promo {
		font-weight: $font-weight-bold;
		font-size: 1.15rem;
		color: $warning;
		font-family: $font-family-lead-base;
		text-decoration: line-through;
		transition: .25s linear;
	}
  &-price {
		position: absolute;
		bottom: 0;
		right: 0;
		background: $warning;
		width: 92px;
		height: 92px;
		padding-bottom: 0rem;
		padding-top: 1.25rem;
		text-align: center;
		font-weight: $font-weight-bold;
		font-family: $font-family-lead-base;
		font-size: 1.1rem;
		border-radius: 5rem;
		color: $white;
		z-index: -1;
		transform: translate(5px,27.5px) rotate(-9deg);
      border: 1px dashed $white;
      transition: .25s linear;
      line-height: 1.15;
    &-desc {
      padding: 0;
      margin: 0 auto;
      text-transform: uppercase;
      font-size: .9rem;
      display: block;
    }
    &-text { 
      padding: 0;
      margin: 0 auto;
      font-weight: $font-weight-bolder;
    }
	}
}

.card-animate {
	counter-reset: section;
	.card-body {
		&:before {
			transition: .5s ease;
			counter-increment: section;
			content: "" counter(section) "";
			display: block;
			font-size: 15rem;
			font-weight: 900;
			position: absolute;
			bottom: 5rem;
			line-height: 0;
			left: -.85rem;
			padding: 0;
			margin: 0;
			color: rgba(0,0,0,.10);
			z-index: 0;
		}
	}
	.card {
		&:hover {
			.card-body {
				&:before {
					transform: translate(10px,-10px);
				}
			}
		}
	}
	.card-text {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.card-title {
		font-weight: 900;
		text-transform: uppercase;
	}
}

.featured_projects{
    background-color: $herobackground;

}
