@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
$herobackground:  #1c1e26;
$hero_font:  'Space Mono', monospace;
$heading_font: 'Montserrat';


$var_color: #f87669;
$var_name_color: #0ea87f;
$var-value_color: #fcb350;
$title_color: white;
$wrap_color: #eed0d4;

// General
$font_family: 'Comfortaa', cursive;
$color: #383838;
$background-color: #f8f8f8;
$heading_color:black;

// Timeline
$timeline-global-font-size-multiplier: 0.625;
$timeline-event-font-size-multipler: 1;
$timeline-title-font-size-multiplier: 1;
$timeline-date-font-size-multiplier: 1;
$timeline-description-font-size-multiplier: 1;
$timeline-accent-color: #0099ff;
$timeline-muted-color: #dfdfdf;
$timeline-event-color: #383838;
$timeline-description-color: #959595;
$timeline-linear-gradient-color: rgba(248, 248, 248, 0);

// fellowship serction vars

$fsh-section-bgcolor: rgb(27, 25, 25);


// nav colors
$nav-color: #0099ff