$herobackground:  #1c1e26;
$hero_font:  'Space Mono', monospace;
$font_family: "Open Sans", sans-serif;
$var_color: #F87669;
$var_name_color:  #0ea87f;
$var-value_color: #fcb350;
$title_color: white;
$wrap_color: #EED0D4;
